<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Dog List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Raca</th>
          <th>Nome do Dono</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dog of dogs | async">
          <td>{{dog.nome}}</td>
          <td>{{dog.raca}}</td>
          <td>{{dog.nomeDono}}</td>
          <td><button (click)="deleteDog(dog.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateDog(dog.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="dogDetails(dog.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

