<h3>Create Address</h3>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" >
    <div class="row">
      <div class="col-xs-4">
        <label for="streetName">Rua*</label>
        <input type="text" class="form-control" id="streetName" required [(ngModel)]="address.streetName"
          name="streetName">
      </div>
      <div class="col-xs-4">
        <label for="name">Numero*</label>
        <input type="text" class="form-control" id="number" ng-required="true" [(ngModel)]="address.number" name="number">
      </div>
      <div class="col-xs-4">
        <label for="name">Complemento</label>
        <input type="text" class="form-control" id="complement" [(ngModel)]="address.complement" name="complement">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <label for="name">Bairro*</label>
        <input type="text" class="form-control" id="neighbourhood" required [(ngModel)]="address.neighbourhood"
          name="neighbourhood">
      </div>
      <div class="col-xs-4">
        <label for="name">Cidade*</label>
        <input type="text" class="form-control" id="city" required [(ngModel)]="address.city" name="city">
      </div>
      <div class="col-xs-4">
        <label for="name">Estado*</label>
        <input type="text" class="form-control" id="state" required [(ngModel)]="address.state" name="state">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <label for="name">Pais*</label>
        <input type="text" class="form-control" id="country" required [(ngModel)]="address.country" name="country">
      </div>
      <div class="col-xs-4">
        <label for="name">Codigo Postal*</label>
        <input type="text" class="form-control" id="zipcode" required [(ngModel)]="address.zipcode" name="zipcode">
      </div>
      <div class="col-xs-4">
        <label for="name">Latitude</label>
        <input type="text" class="form-control" id="latitude" [(ngModel)]="address.latitude" name="latitude">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <label for="name">Longitude</label>
        <input type="text" class="form-control" id="longitude" [(ngModel)]="address.longitude" name="longitude">
      </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
<div [hidden]="!error">
  <h4>Erro ao salvar, preencha os requisitos obrigatórios destacados com '*'</h4>
</div>
