<h3>Update Dog</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="dog.nome" placeholder name="nome">
    </div>

    <div class="form-group">
      <label for="name">Raça</label>
      <input type="text" class="form-control" id="raca" required [(ngModel)]="dog.raca" name="raca">
    </div>

    <div class="form-group">
      <label for="name">Nome Dono</label>
      <input type="text" class="form-control" id="nomeDono" required [(ngModel)]="dog.nomeDono" name="nomDono">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
