<h3>Update Address</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Rua</label>
      <input type="text" class="form-control" id="streetName" required [(ngModel)]="address.streetName" placeholder name="streetName">
    </div>

    <div class="form-group">
      <label for="name">Numero</label>
      <input type="text" class="form-control" id="number" required [(ngModel)]="address.number" name="number">
    </div>

    <div class="form-group">
      <label for="name">Complemento</label>
      <input type="text" class="form-control" id="complement" [(ngModel)]="address.complement" name="complement">
    </div>

    <div class="form-group">
      <label for="name">Referencia na vizinhança</label>
      <input type="text" class="form-control" id="neighbourhood" required [(ngModel)]="address.neighbourhood" name="neighbourhood">
    </div>

    <div class="form-group">
      <label for="name">Cidade</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="address.city" name="city">
    </div>

    <div class="form-group">
      <label for="name">Estado</label>
      <input type="text" class="form-control" id="state" required [(ngModel)]="address.state" name="state">
    </div>

    <div class="form-group">
      <label for="name">Pais</label>
      <input type="text" class="form-control" id="country" required [(ngModel)]="address.country" name="country">
    </div>

    <div class="form-group">
      <label for="name">Codigo Postal</label>
      <input type="text" class="form-control" id="zipcode" required [(ngModel)]="address.zipcode" name="zipcode">
    </div>

    <div class="form-group">
      <label for="name">Latitude</label>
      <input type="text" class="form-control" id="latitude" [(ngModel)]="address.latitude" name="latitude">
    </div>

    <div class="form-group">
      <label for="name">Longitude</label>
      <input type="text" class="form-control" id="longitude" [(ngModel)]="address.longitude" name="longitude">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
